/* General Styles */
ody {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Navigation styling */
  nav {
    background-color: #004080;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  nav button {
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav button:hover {
    background-color: #0056b3;
  }
  
  /* Section headers */
  h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  hr {
    border: 1px solid #ddd;
    margin: 20px 0;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  table {
    width: 100%;
    margin-top: 30px;
  }
  
  td {
    vertical-align: top;
    padding: 2px;
  }
  
  /* Form Styles */
  form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input
 {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    width: 90%;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Social Media Icons */
  a img {
    margin: 5px;
    transition: transform 0.3s;
  }
  
    a img:hover {
        transform: scale(1.1);
    }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    table {
      display: block;
      text-align: center;
    }
  
    td {
      display: block;
      width: 100%;
      padding: 50px;
    }
  
    iframe {
      width: 100%;
      height: auto;
    }
  }
  